{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %} {# a comment ... any block can be omitted #}
  {{ super() }}
  <style type="text/css">
    .navigation { color: #336699; }
  </style>
{% endblock %}

{% block content %}
	<ul id="navigation">
	{% for item in navigation %}
	    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
	{%- endfor %} {# the - before endfor strips whitespace #}
	</ul> 

	{{ a_variable }}
	{# Inside templates you have access to the request, session and g objects as well as get_flashed_messages() #}

	{% if name %}
		<h1>Hello {{ name }}!</h1>
	{% else %}
		<h1>Hello World!</h1>
	{% endif %}


  <div class="jumbotron">
    <h1>My Bootstrap Page <img src="{{ url_for('static', filename='img/logo.png') }}" width="50px"></h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
{% endblock %}

    
